body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    padding: 8px 96px;
    background: #1F2937;
    margin: 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-right-links {
    display: flex;
    margin-left: auto;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-main {
    background: #1F2937;
    padding: 72px 96px;
    display: flex;
}

.li-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hm-one {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hm-two {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 18px;
    padding: 8px 16px;
    flex-grow: 0;
    margin-top: 16px;
    border-radius: 10px;
}

img {
    width: 50%;
    padding-left: 72px;
}

.information {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 128px;
}

.info-header {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 32px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.box {
    height: 144px;
    width: 144px;
    border: 2px solid #3882f6;
}

.text {
    width: 144px;
    text-align: center;
}

.quote-sect {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 128px 25%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.author {
    text-align: right;
    font-size: 28px;
    color: #1F2937;
    font-weight: bold;
    margin: 8px;
}

.cta {
    margin: 128px 20%;
    background: #3882f6;
    color: #F9FAF8;
    padding: 36px 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.cta-text {
    display: flex;
    flex-direction: column;
}

.cta-one {
    font-size: 28px;
    font-weight: 100;
}

.cta-two {
    font-weight: 700;
}

.ctabutton {
    border: 2px solid #F9FAF8;
}
